@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    
}

.container{
    display: flex;
    justify-content: space-around;
}

.boton{
background-color: pink;
width: 100px;
height: 70px;
border-radius: 20%;
border: solid black;
margin-left: 50px;
}

#card{
    background-color: white;
    margin-top: 20px;
    width: 300px;
    height: 450px;
    border-radius: 25px;
    display: inline-block;
    justify-content: space-around;
}

#figureUp{
    height: 25%;
    font-size: 4.5rem;
    text-align: left;
    padding: 7px;
}

#number{
    height: 50%;
    font-size: 9rem;
    text-align: center;
    align-content: center;
}

#figureButtom{
    height: 25%;
    font-size: 4.5rem;
    text-align: left;
    transform: rotate(180deg);
    padding:7px;
} 
