@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    display: flex;
    justify-content: center;
}

#boton{
background-color: pink;
width: 100px;
height: 70px;
border-radius: 20%;
border: solid black;
}

#card{
    background-color: white;
    margin-top: 20px;
    width: 300px;
    height: 450px;
    border-radius: 25px;
}

/* #figureUp{
    font-size: 25%;
    text-align: left;
}

#number{
    font-size: 50%;
    text-align: center;
}

#figureButtom{
    font-size: 25%;
    text-align: right;
    transform: rotate(180deg);
} */
